@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.box{
    /* margin-left: 10%!important; */
}
.project{

    background-color: rgb(244, 241, 241) !important;
}
i{
    font-size:30px ;
}
.one{
    background-color: rgb(210, 203, 203)!important;
    transition: all 0.2s ease-in-out;
    /* border:none !important; */
}
.one:hover{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
cursor:pointer;
}
.two{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:5px;
}
