@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.row{
    margin-left: 18%!important;
}
.project{

    background-color: rgb(244, 241, 241) !important;
}
i{
    font-size:30px ;
}
.card{
    background-color: rgb(234, 231, 231)!important;
}